<div style="font-family:'Agency FB'">

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>


    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    

    <h2> Students</h2>
    @Ajax.ActionLink("ViewAll", "ViewAll", new AjaxOptions()
{

    HttpMethod = "GET",
    UpdateTargetId = "divStudents",
    InsertionMode = InsertionMode.Replace
})
    <span style="color :brown">----</span>

    @Ajax.ActionLink("Top3", "Top3", new AjaxOptions()
{

    HttpMethod = "GET",
    UpdateTargetId = "divStudents",
    InsertionMode = InsertionMode.Replace
})
    <span style="color :brown">----</span>


    @Ajax.ActionLink("Bottom3", "Bottom3", new AjaxOptions()
{

    HttpMethod = "GET",
    UpdateTargetId = "divStudents",
    InsertionMode = InsertionMode.Replace
})


    <div id="divStudents ">

    </div>

</div>